# Copyright (c) 2017, Code Aurora Forum. All rights reserved.
#
# add support for spectrum
import /init.spectrum.rc

on property:sys.boot_completed=1

#Animation script
exec u:r:init:s0 root root -- /init.animation.sh
exec u:r:su:s0 root root -- /init.animation.sh

#Fingerprint unlock with screen off by default
	write /sys/devices/soc/soc:fpc_fpc1020/enable_wakeup 1

#Enable intellithermal from faux123
    write /sys/module/msm_thermal/parameters/enabled Y

#Disable Core Control and Control VDD
    write /sys/module/msm_thermal/core_control/enabled 0
    write /sys/module/msm_thermal/vdd_restriction/enabled 0	

#Enable Fingerprint Boost
    write /sys/kernel/fp_boost/enabled 1

#Low memory killer
	write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 0
	write /sys/module/lowmemorykiller/parameters/minfree "1536,3072,4096,21000,23000,25000"

#Underclock
    write /sys/module/cpufreq/parameters/enable_underclock_balanced N
    write /sys/module/cpufreq/parameters/enable_underclock_battery N
