# Xiaomi configuration options

config MACH_XIAOMI
	bool "Xiaomi device"
	depends on ARCH_MSM
	help
	  Support for Xiaomi products

config MACH_XIAOMI_MSM8996
	bool "Xiaomi MSM8996"
	depends on ARCH_MSM8996
	select MACH_XIAOMI
	help
	  Support for MSM8996 Xiaomi variants

menu "Xiaomi board selection"

config MACH_XIAOMI_GEMINI
	bool "Gemini board"
	select MACH_XIAOMI_MSM8996
	help
	  Support for Xiaomi Mi 5 (gemini) - all variants (a1/a2)

endmenu
