#
# Fingerprint driver configuration
#
menuconfig INPUT_FINGERPRINT
	bool "Fingerprints"
	help
	  Say Y here, and a list of supported fingerprints will be displayed.
	  This option doesn't affect the kernel.

	  If unsure, say Y.

if INPUT_FINGERPRINT

config HOMEBUTTON
	tristate "Home button driver"
	help
	  Say Y here if you want home button to be visible to apps

source "drivers/input/fingerprint/fpc1020/Kconfig"
source "drivers/input/fingerprint/fpc1020_ta/Kconfig"

endif
