# Protocol specific features
CONFIG_QCA_WIFI_SDIO := 1
CONFIG_ROME_IF = sdio
CONFIG_QCACLD_WLAN_LFR3 := y
CONFIG_PRIMA_WLAN_OKC := y
CONFIG_PRIMA_WLAN_11AC_HIGH_TP := n
CONFIG_QCOM_TDLS := y
CONFIG_QCOM_VOWIFI_11R := y
CONFIG_WLAN_FEATURE_FILS := n
CONFIG_WLAN_FEATURE_11W := y
CONFIG_QCOM_LTE_COEX := n
CONFIG_WLAN_FEATURE_LPSS := n
CONFIG_WLAN_FEATURE_NAN := n
CONFIG_WLAN_FEATURE_NAN_DATAPATH := n
CONFIG_WLAN_FEATURE_DSRC := n
CONFIG_QCA_WIFI_AUTOMOTIVE_CONC := y
CONFIG_TXRX_PERF := y
CONFIG_NON_QC_PLATFORM := n
CONFIG_CUSTOMIZE_SDIO_CCCR_VALUE := y
CONFIG_MULTI_IF_LOG := n
CONFIG_NETWORK_PHY_TIMESTAMPING := y
CONFIG_WLAN_FEATURE_MOTION_DETECTION := n
CONFIG_WLAN_POWER_DEBUGFS := n

CONFIG_QCOM_ESE := n
CONFIG_QCOM_ESE_UPLOAD := n
CONFIG_WLAN_FEATURE_SAE := y
# Debug
BUILD_DEBUG_VERSION := 0
BUILD_DIAG_VERSION := 0
PANIC_ON_BUG := 1
CONFIG_WLAN_LOGGING_SOCK_SVC := n
CONFIG_TRACE_RECORD_FEATURE := n
CONFIG_PTT_SOCK_SVC_ENABLE := n

RE_ENABLE_WIFI_ON_WDI_TIMEOUT := 0
CONFIG_ADF_SUPPORT := 1
CONFIG_ATH_PERF_PWR_OFFLOAD := 1
CONFIG_REMOVE_PKT_LOG := 1
CONFIG_ATH_11AC_TXCOMPACT := 0

CONFIG_WLAN_THERMAL_SHUTDOWN := 0
CONFIG_LINUX_QCMBR := y
CONFIG_WLAN_WOW_PULSE := n
CONFIG_WLAN_WAPI_MODE_11AC_DISABLE := n

CONFIG_PER_VDEV_TX_DESC_POOL := 1
CONFIG_QCA_LL_TX_FLOW_CT := 1
SAP_AUTH_OFFLOAD := y
CONFIG_FEATURE_COEX_PTA_CONFIG_ENABLE := y
CONFIG_QCA_SUPPORT_TXRX_DRIVER_TCP_DEL_ACK := n
CONFIG_TXRX_PERF := y
CONFIG_TX_DESC_HI_PRIO_RESERVE  := 1
CONFIG_SUPPORT_TXRX_HL_BUNDLE  := 1
CONFIG_ATH_SUPPORT_SHARED_IRQ := 1
CONFIG_HIF_MESSAGE_BASED := 0
CONFIG_QCA_IBSS_SUPPORT := n
CONFIG_ATH_BUS_PM := 1
CONFIG_IP_HDR_ALIGNMENT := 0
CONFIG_ATH_SUPPORT_FLOWMAC_MODULE := 0
CONFIG_ATH_SUPPORT_SPECTRAL := 0
CONFIG_SUPPORT_HOST_STATISTICS := 0
CONFIG_WDI_EVENT_ENABLE := 0
CONFIG_LITTLE_ENDIAN := 1
CONFIG_TX_CREDIT_RECLAIM_SUPPORT := 0
CONFIG_QCA_WIFI_FTM := 1
CONFIG_CHECKSUM_OFFLOAD := 1
CONFIG_GTK_OFFLOAD := 1
CONFIG_QCA_SIGNED_SPLIT_BINARY_SUPPORT := 0
CONFIG_QCA_SINGLE_BINARY_SUPPORT := 0
CONFIG_TARGET_RAMDUMP_AFTER_KERNEL_PANIC := 1
CONFIG_FEATURE_STATS_EXT := 1
CONFIG_STATICALLY_ADD_11P_CHANNELS := n
CONFIG_WLAN_DISABLE_CHANNEL_SWITCH := 1
WLAN_HDD_ADAPTER_MAGIC := 0x5344494F
CONFIG_RX_LATENCY_OPTIMIZE := y

HAVE_CFG80211 := 1
